<h1>All Questions: </h1>
<div><%= link_to "Ask a Question", new_question_path, class: "btn btn-primary" %></div>
<ul>
	<% @questions.each do |question| %>
	  <li><%= link_to "#{question.title}", question_answers_path(question) %></li>
	<% end %>
</ul>