body, html {
 	background-color: #dbd7d2;
 }

.header {
	background-color: black;
	padding: 20px;
}

.header a {
	padding: 0 10px 0 10px;
}

.header a:hover {
	text-decoration: none;
	color: white;
}

.answer_vote_number, .question_vote_number {
	color: white;
	padding: 0 10px 0 10px;
	display: inline;
	background-color: #62c462;
	border-radius: 15px;
}

.login_logout {
	float:right;
	display: inline-block;
}